:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --transition-time: 150ms;
  --transition-curve: ease-in-out;

  --primary: #0d0d0d;
  --secondary: #59443f;
  --tertiary: #8d7267;
  --accent: #bf9c88;
  --accent2: #f2bc8e;
  --text: hsl(28, 20%, 95%);

  background-color: var(--primary);
  color: var(--text);
}

body {
  padding: 0 1em;
}
