.flex-container {
  display: flex;
  align-items: center;
}

.project-article h3 {
  /* color: var(--accent); */
  margin: 0;
}

.project-article {
  padding: 0.75em 0;
}

.project-article > a .MuiSvgIcon-root,
.project-article > a:hover .MuiSvgIcon-root {
  transition: opacity var(--transition-time) var(--transition-curve);
}

.project-article > a .MuiSvgIcon-root {
  display: inherit;
  opacity: 0;
}

.project-article > a:hover .MuiSvgIcon-root {
  opacity: 100;
}

.project-heading {
  position: relative;
  left: 0;
  transition: left var(--transition-time) var(--transition-curve);
}

.project-article > a:hover .project-heading {
  left: 0.25em;
}

a,
a:visited,
.title_link-icon:first-child {
  text-decoration: none;
  color: inherit;
}

.project-description {
  margin: 0;
  padding: 0.125em 0;
}

/* .technologies {
  border: 1px solid var(--tertiary);
  border-radius: 0.625em;
  width: fit-content;
} */

.technologies > a {
  font-size: 0.85em;
  display: inline-block;
  margin: 0.25em;
  padding: 0.25em 0.5em;
  border-radius: 0.35em;
  /* color: var(--accent2); */
  transition: var(--transition-time) var(--transition-curve);
}

.technologies > a:hover {
  /* background-color: var(--secondary);
  color: var(--text); */
}

.technologies > a:active {
  /* background-color: var(--tertiary);
  color: var(--text); */
}
